<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xeon | OnePage Responsive Theme</title>
    <link href="/themes/xeon/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/xeon/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/xeon/css/prettyPhoto.css" rel="stylesheet">
    <link href="/themes/xeon/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/themes/xeon/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/xeon/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/xeon/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/xeon/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/themes/xeon/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <div ui-view></div>

    <!--Vendor JS -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--// Vendor JS -->
    
    <!--Angular JS -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- // Angular JS -->

    <!--APP JS -->
    <script src="/app.js"></script>
    <!--// APP JS -->
</body>
</html>